* { 
   text-decoration: none;
	box-sizing: border-box;
    font-family: 'Raleway', sans-serif; 
	outline: dotted 1px red;
	outline-offset: -1px; */
}
body {
	margin: 0 auto;
	padding: 0;
	max-width:1200px;
}
.Header-Bar{
  margin: 0 2rem 0 2rem;
}
.accomm-and-popular,
.activities-background,
.footer-section {
	margin-top: 2rem;
}
/* Reservia logo and Navigation Bar*/

#logo-link{
 display: flex;
 align-items: center;
 float: left;
 width: 100%;
 margin-top: 1.875rem;
}
.navigation {
 display: flex;
 float: right;
 font-size: 0.75em;
 gap: 2.1875rem;
 justify-content: flex-end;
 width: 100%;
 margin-top: 1.25rem;
}
.navigation a{
  color: black;
  font-weight: 800;
  line-height:1.25rem;
  padding:1.875rem ;
}
#style{
  color: rgb(0,101,252)
}
.navigation a:hover{
  border-top: 0.25rem solid rgb(0,101,252)
}
.top-Header-Bar{ 
  display: flex;
  padding: 0.9375rem;
  justify-content: space-around;
}

/*Subtitle*/

h2 {
  font-size: 0.9375rem;
  font-weight: 800;
}
p{
  font-size:0.7110rem;
}

/*search-bar*/

.search-icon {
  background-color: #f2f2f2;
  padding: 0.875rem;
  padding-bottom: 0.8125rem;
  border-radius: 0.8125rem 0 0 0.8125rem;
  font-size: 0.75rem;
}
.search-bar {
  padding: 0.625rem;
  border:0.00625rem solid #f2f2f2;
  margin-left: -0.3125rem;
}

.search-bar::placeholder {
  color: black;
  font-weight:603;
}

.submit-btn {
  background-color: rgb(0,101,252);
  color: white;
  border-radius: 0 0.8125rem 0.8125rem 0;
  padding: 0.6875rem;
  font-size: 0.8125em;
  font-weight: 600;
  border: unset;
  margin-left: -0.3125rem;
}

/*Filter-section*/

.filter-row {
	align-items: center;
	display: flex;
	flex-flow: row wrap;
	gap: 1.5rem;
    margin: 0.9375rem 0 0.9375rem 0;
	height:330%;
	width: auto;
}
.filter-bar h2{
  font-weight:900;
  font-size:0.875em;
}
.filter-button{
  display: inline-flex;
  align-items: center;
   border-radius:1.25rem;
   border: 0.125rem solid black;
   border-color:#f2f2f2;
   background-color: white;
}

.filter-button span:nth-child(2){
  padding-left:0.3125rem;
  padding-right:1.25rem ;
}
.filter-icon{
   display: flex;
   align-items: center;
   justify-content: center;
   float: left;
   background-color:#deebff;
   color:#0065FC ;
   width:0.625rem;
   height: 0.625rem;
   padding: 1.25rem;
   border-radius:1.25rem;
   margin-left: -0.3125rem;
}
.filter-text{
  font-weight:600;
  font-size:0.8em;
  color: black;
 
}
.filter-button:hover,.note:hover{
  background-color:#66FF66;
}

/*info-section*/

.icon{
  text-align: center;
  margin-right:0.625em;
  color: rgb(0,101,252);
 }
.note{ 
  text-align:center;
  width: 1.25rem;
  height: 1.25rem;
  border-radius:3.125rem;
  border: 0.2em solid #f2f2f2;
  background-color: white;
  color: rgb(0,101,252);
  font-size: 0.8em;
 
}
.inform{
  display: inline-flex;
  }
  
/* Accommodations in Marseille */

.accommodations-card {
	background-color: white;
	border: solid white 0.3110rem;
	border-radius: 0.8125rem;
	width: 13rem;
	height: 11.15rem;
}
.accommodations-card:hover {
	box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.22);
	transition: 0.3s;
}
.accommodations-card img {
	border-radius: 0.75rem 0.75rem 0 0;
	height: 6.125rem;
	object-fit: cover;
	position: relative;
}
.accommodations-card-text {
	border-radius: 0 0 1.25rem 1.25rem;
	line-height: 0.4rem;
	padding: 0.1rem 0.5rem 0.5rem 0.5rem;
	font-size: 0.7em;
}
.accommodations-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-evenly;
}
.accommodations-header {
	display: flex;
	justify-content: flex-start;
}
.accommodations-header-text {
	margin-left: rem;
	font-size: 1.2rem;
	font-weight: 600;
}
.accommodations-background {
	background-color: #f2f2f2;
	border-radius: 1.5rem;
	height: 35rem;
	padding: 1rem;
	width: 50rem;
}
.section-wrap{
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin: 0 15px;
}
.showmore,
.showmore a {
	margin-left: 2rem;
	margin-top:3rem;
	color: black;
	font-size: 1.0rem;
	font-weight: 600;
}

/* Most Popular*/

.chart-icon {
	align-self: center;
	display: flex;
	margin-left: auto;
	margin-right: 1rem;
	font-size: 1.50rem;
}

.most-popular-card {
	background-color: white;
	border: solid white 0.3rem;
	border-radius:0.615rem;
	height: 7.60rem;
	width: 22rem;
}
.most-popular-card:hover {
  box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.22);
  transition: 0.4s;
}
.most-popular-card img {
	border-radius:0.625rem 0 0 0.625rem;
	height: 7.10rem;
	object-fit: cover;
	position: relative;
}
.most-popular-card-text {
	float: right;
	height: 7rem;
	object-fit: cover;
	position: relative;
	width: 10rem;
	font-size: 0.7em;
}

.most-popular-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	height: 30rem;
	justify-items: center;
}
.most-popular-header {
	display: flex;
	justify-content: flex-start;
}
.most-popular-header-text {
	margin-left: 1rem;
	font-size: 1.2rem;
	font-weight: 600;
}
.most-popular-background {
	background-color: #f2f2f2;
	border-radius: 1.5rem;
	height: 35rem;
	padding: 2rem;
	width: 30rem;
}
.bluestar {
	color: #0065fc;
}
#bluestar-heigth{
	margin-top: 10rem;	
}
#greystar,.greystar {
	color: #f2f2f2;
}

.card-color {
	color: black;
}
/* Activities in Marseille*/
.column-1 {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	height: 27rem;
	/*border: 0.3rem solid yellow;*/
}
.column-2 {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	height: 27rem;
	/*border: 0.3rem solid greenyellow;*/
}

.activities-container {
	display: flex;
	height: auto;
	width: auto;
	gap: 3rem;
	justify-content: center;
	/*border: 0.3rem solid red;*/
}
.activities-container a {
	color: black;
}
.activities-container h3 {
	line-height: 1rem;
	margin: 0.5rem 1rem;
	font-size: 0.8em;
	font-weight: 600;
	
}
.activities-header {
	display: flex;
	justify-content: flex-start;
}
.activities-header-text {
	margin-left: 2rem;
	font-size: 1.2rem;
	font-weight: 600;
}
.activities-background {
	height: auto;
	width: 100%;
	/*border: 0.3rem solid rgb(38, 0, 255);*/
}

/* Activities in Marseille Cards*/

.activitiescard {
	background-color: white;
	border-radius: 1.25rem;
	box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);
	height: 35rem;
	width: 15rem;
}
.activitiescard img {
	border-radius: 1.1rem 1.1rem 0 0;
	height: 50%;
	width: 100%;
}
.activitiescard:hover {
	box-shadow: 0 0.5rem 2rem 0 rgba(0, 0, 0, 0.22);
	transition: 0.3s;}

.old-port-card img {
	height: 90%;
	object-fit: cover;
	position: relative;
	width: 100%;
}
.old-port-card{
	height: 25rem;
}
.pomegues-card {
	height: 14rem;
}

.pomegues-card img {
	height: 80%;
	object-fit: cover;
	position: relative;
	width: 100%;
}

.frioul-card {
	height: 8em;
}

.frioul-card img {
	height: 70%;
	object-fit: cover;
	position: relative;
	width: 100%;
}

.calanques-card img {
	height: 90%;
	object-fit: cover;
	position: relative;
	width: 100%;
}
.calanques-card {
	height: 25rem;
}

.notre-dame-card {
	height: 11rem;
}

.notre-dame-card img {
	height: 78%;
	object-fit: cover;
	position: relative;
	width: 100%;
}

.longchamp-card {
	height: 11rem;
}

.longchamp-card img {
	height: 78%;
	object-fit: cover;
	position: relative;
	width: 100%;
}
/*Footer-seaction*/

.footer-background{
	background-color: #f2f2f2;
	padding-bottom:3.125rem;
  }
  .footer-container{
	font-family: 'Raleway', sans-serif;
	background-color: #f2f2f2;
	width: 70%;
	height:auto;
	display: flex;
	justify-content:space-around;
	flex-wrap: wrap;
	
  }
  .footer-header{
	display: flex;
	flex-direction: column;
	margin-left:1.25rem;
	margin-top: 1.25rem;
  }
  .footer-header h3{
	font-size: 1rem;
	font-weight: 600;
  }
  .footer-header a{
	color: black;
	font-size: 0.8em;
	margin-bottom: 0.625rem;
  }
  .footer-3{
	margin-right:3.75rem;
  }
/*small screen laptops*

@media screen and (max-width: 1174px){
	.accommodations-background {
		height: auto;
		margin: 0 auto;
		padding-bottom: 4em;
		width: 70%;
	}
	.accommodations-card {
		width: 20em;
	}
}
.most-popular-background {
	height: auto;
	margin: 0 auto;
	width: 85%;
}
.most-popular-card img{
	height: 100%;
}
.most-popular-card {
	width: 30em;
}
.most-popular-card-text {
	width: 20em;
}
	.activitycard,
	.old-port-card,
	.pomegues-card,
	.frioul-card,
	.calanques-card,
	.notre-dame-card,
	.longchamp-card {
		height: 20em;
		width: 30em;
	}
	.activitycard img {
		height: 85%;
	}
	.activities-background {
		height: auto;
		margin: 0 auto;
		width: 95%;
	}
	.activities-container {
		align-items: center;
		flex-direction: column;
		gap: 2em;
		height: auto;
	}
	.activities-header {
		height: auto;
	}
	.column-1,
	.column-2 {
		gap: 2em;
		margin-bottom: 5em;
	}
	.section-wrap{
		flex-direction: column-reverse;
	}
	.navigation {
		align-items: flex-end;
		gap: 0.6em;
	}
	.top-Header-Bar,
	.top-title-and-subtitle,
	.search-section,
	.filter-row,
	.info-section {
		margin: 2em auto;
		width: 95%;
	}*/

/*tablets*/

@media only screen and (max-width:1179px) and (min-width:500px)  {

	.subtitle,
	.filter-row,
	.info-section{
		margin: 1em;
		margin-bottom: 2em;
	    width: 40%;
	}
	.search-section{
		margin: 1em;
		margin-bottom: 2em;
	    width: 49%;
	}
	.navigation {
		align-items: flex-end;
		gap: 0.1em;
	}

	.section-wrap {
		flex-direction: column-reverse;
	}
	.accommodations-header-text {
		margin-left: 6em;
	}
	.activities-container {
		flex-direction: column;
		gap: 2em;
	}
	
	.accommodations-background,
	.most-popular-background,
	 .activities-background {
		border-radius: 1em;
		height: auto;
		margin: 0 auto;
		width: 90%;
	}
	.activities-container,
	.accommodations-container,
	.most-popular-container {
		align-items: center;
		
	}
	
	.accommodations-card,
	.most-popular-card,.activitycard{
		width: 29em;
	}
	.activitycard,
	.old-port-card,
	.pomegues-card,
	.frioul-card,
	.calanques-card,
	.notre-dame-card,
	.longchamp-card {
		height: 15em;
	}
}
.activitycard img {
	height: 50%;
}
.activities-background {
	height: auto;
	margin: 0 auto;
	width: 90%;
}
.activities-container {
	align-items: center;
	flex-direction: column;
	gap: 1em;
	
}
.activities-header {
	height: auto;
}
.column-1,
.column-2 {
	gap: 2em;
	margin-bottom: 3em;
	}
	.most-popular-card-text {
		width: 17em;
	}
