*{
    padding: 0px 6px 0px;
}
html{
  box-sizing: border-box;
}
body{
  margin:0 auto;
  max-width: 1200px;
  border: 1px solid green;*/
}
 #logo-link{
    padding-left: 0%;
  
 }
.nav a{  
    color: black;
    text-decoration: none;
    font-weight: 600; 
    height: 100%;
    float: left;
    padding: 0 25px;
}
.nav {
    display: block;
    margin-top: 10px;
    float: right;
    height: 100%;
}
#style{
    color: rgb(0,101,252)
}
h4{
    display: block;
    font-family: 'Raleway', sans-serif;
    text-align: unset;
    margin-top: 10 0 2 0;
}
 p{
    display: block;
    font-family: 'Raleway', sans-serif; 
    font-size: 12px;
    margin-top: -15px;
    border:0.1px;
}
.search-icon {
    background-color: #f2f2f2;
    padding: 13px;
    border-radius: 13px 0px 0px 13px;
    font-size: 12px;
}
.search-bar {
    padding: 10px;
    border: 0.1px solid #f2f2f2;
    margin-left: -5px;
}

.search-bar::placeholder {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight:603;
}

.submit-btn {
    background-color: rgb(0,101,252);
    color: white;
    border-radius: 0 13px 13px 0;
    padding: 11px;
    font-size: 13px;
    font-weight: 600;
    border: unset;
    margin-left: -5px;
  }
#filters-bar{
    font-family: 'Raleway', sans-serif;
    font-weight:600;
    font-size:14px;
    display: inline-block;    
 }
 .button{
    margin-top:20px;
    margin-bottom: 20px;
    margin-left: 15px;
    border-radius:50px;
    border: 2px solid black;
    border-color:#f2f2f2;
    background-color: white;
    font-family: 'Raleway', sans-serif;
    font-weight:600;
 
 }
 .button:hover {
   background-color:aquamarine;
 }
 .button span:nth-child(2){
   padding-left:5px ;
   padding-right:10px ;
 }
 .btn{
    display: inline-block;
    background-color:#deebff;
    width: 24px;
    height: -30px;
    padding: 10px;
    border-radius: 50%;
    margin-left: -11px;
    margin-top: -2px;
 
 }
 .icon{
  display: inline-block;
  color: rgb(0,101,252);
 }
.note{ 
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 0.1px solid #f2f2f2;
  background-color: white;
  color: rgb(0,101,252);
  font-weight: 400;
  font: center;
  padding: 0px;
  margin: 0;
}
.inform{
   display: inline-flex;
  }

.accom{
    display: flex;
    flex-flow:row wrap;
    justify-content: space-evenly;
    align-content:flex-start;
    background-color: #f2f2f2;
    border-radius:15px;
    padding:0px;
    width: 65%;
    height: 500px;
 }
 .accom-card{
    display:flex ;
    margin: 10px 0;
    padding: 1.0px;
    background-color: white;
    border-radius:13px;
    width: 26%;
    height: 170px;
 }
 .accom-card img{
  object-fit: fill;
  width: 101%;
  height: 100px;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  padding:4.0px;
  margin-left:-4px;
  
 }
 a{
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: black;
}
.accom h2{
  display: inline-block;
  font-family:'Raleway', sans-serif;
  font-size:large;
  font-weight:667px;
  margin-left:30px;
  margin-top:32px;
  width: 100%;
  height: 10px;
}
.accom-card h3{
  height: 11%;
  margin-top:5px;
}
.accom-card p{
  font-size: 11px;
  height: 3%;
  margin-top:-10px;
}
div i{
  color: rgb(0,101,252);
  padding: 0px;
  margin-top:-15px;
  font-size:smaller;
}
 .show-btn {
  display: flex;
  margin-top: 30px;
  margin-left: -460px;
  font-family:'Raleway', sans-serif;
  border: unset;
  background-color: #f2f2f2;
  font-weight:bolder;
}

 .popular{
  display: flex;
  justify-content:space-around;
  flex-flow: column wrap;
  margin-left: 3%;
  border-radius:15px;
  padding: 0px;
  width: 30%;
  height: 500px;
  background-color: #f2f2f2;
 }
 .popular-card{
  display: flex;
  background-color: white;
  padding:3.0px;
  width: 80%;
  height: 100px;
  margin: 5px 30px ;
  border-radius: 13px;
 }
 .popular-card img{
  object-fit: cover;
  width: 110px;
  height: 100px;
  border-radius: 9px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px ;
  padding: 0px;
  margin-left:-5px;
 }
 .popular h2{
  font-family: 'Raleway', sans-serif;
  font-size:large;
  font-weight: 700px;
  display: inline-block;
  margin-left:30px;
  margin-top: 20px;
  margin-bottom: 0px;
  width: 90%;
  height: 10px;
}
.chart-icon{
  font-size: larger;
  color: black;
  float: right;
  margin: 3px ;
  margin-right:40px;
}
.popular-card a{
  display: flex;
  flex-flow: column wrap;
  margin: 0px;
}
.popular-card h3{
 padding-left: 20px;
 margin-bottom: 0px;
}
#text-height{
  margin-top: 15px;
  margin-bottom: 20px;
}
.popular-card p{
  display: flex;
  font-size: 11px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
}
.popular-card div{
  padding-left: 20px;
}

.section-rap {
  display: flex;
  margin: 0px;

}
.grey-star{
  color: #f2f2f2;
  }
/*@media screen and (max-width:480px){
  .section-rap{
    flex-direction: column-reverse;
  }*/
.act h2{
  font-family: 'Raleway', sans-serif;
  font-size: large;
  padding: 0px;
  border: 1px solid royalblue;
}
.act{
  border:3px rgb(247, 0, 255) solid ;
}
.card-wrap{
  display: flex;
  flex-flow: column;
  border: #8b0000 2px dashed;
}
.card-wrap2 {
  display: flex;
  flex-flow: column;
  border: goldenrod 3px dashed;
}
.wrapper {
  overflow: hidden;
  border: chartreuse 5px solid;
  display: flex;
  flex-wrap:wrap;
  justify-content:space-between;
  padding: 10px 5px ;
  margin: 5px 0;
}

.card1 img{
  object-fit: cover;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  width:230px;
  height: 87%;
  padding: 0px;
}
.card2 img{
  display: flex;
  object-fit: cover;
  border-radius:20px 20px 0px 0px;
  width:230px;
  height: 190px;
  margin-top: -15px;
}
.card3 img{
  display: flex;
  object-fit: cover;
  border-radius:20px 20px 0px 0px;
  width:230px;
  height: 100px;
  margin-right: -9px;
}
.card4 img{
  object-fit: cover;
  border-radius:20px 20px 0px 0px;
  width: 230px;
  height:87%;
  padding: 0px;
}
.card6{
  margin-top: 20px;
}
.card-wrap2 img{
  object-fit: cover;
  width:230px;
  height:130px;
  border-radius:20px 20px 0px 0px;
  padding: 0px;
}
.text-btn{
  display: flex;
  font-family: 'Raleway', sans-serif;
  border-radius: 18px;
  box-shadow: 0 3px 6px whitesmoke, 0 3px 6px whitesmoke;
  background-color: white;
  border: 1px solid #f2f2f2;
  border-top-left-radius:0px;
  border-top-right-radius: 0px;
  width:231px;
  font-size: 12px;
  font-weight: bolder;
  color:black;
  padding: 10px;
  margin:-4px 5px;
}
.footer-container{
  background-color: #f2f2f2;
}